<template name="item_new">
<div>
  <div class="form-inline">
  	<span class="plus"><i class="icon-plus"></i></span>
    <input type="text" class="input-small add-item-text" placeholder="Item">
  </div>
</div>
</template>

<template name="item">
	<section>
	  <span class="count">{{count}}</span>
	  <span class="name">{{name}}</span>
	  	<span class="plus"><i class="icon-plus"></i></span>
	  	<span class="minus"><i class="icon-minus"></i></span>
	  	<span class="delete"><i class="icon-ban-circle"></i></span>
	</section>
</template>