<template name="order_new">
<div>
  <div class="form-inline">
  	<span class="plus"><i class="icon-plus"></i></span>
    <input type="text" class="input-small add-item-text" placeholder="Order">
  </div>
</div>
</template>

<template name="order">
	<tr class="{{hotness}}">
		<td><span class="venue"><strong>{{venue_name}}:</strong> {{hour}}</span></td>
		<td>
			{{#if is_selected}}
			{{> item_new}}
		  {{#each items}}
		    {{> item}}
		  {{/each}}
		  {{/if}}
		</td>
		<td><span class="startedby">{{user_name}}</span></td>
	</tr>
</template>
